@mixin soc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap: 10px;
}

@mixin bt {
    background: $bl;
    color: $wh;
    border-radius: 12px;
    font-size: 14px;
    width: 120px;
    height: 40px;
    margin-top: 3%;
}

@mixin af1 {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(..//img/im1.png);
    width: 288px;
    height: 351px;
    position: absolute;
    left: 180px;
    margin-top: -550px;
}

@mixin af2 {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(..//img/im2.png);
    width: 288px;
    height: 351px;
    position: absolute;
    margin-top: -550px;
}

@mixin af3 {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(..//img/im3.png);
    width: 288px;
    height: 351px;
    position: absolute;
    margin-top: -550px;
    right: 150px;
}

@mixin btn {
    width: 115px;
    height: 33px;
    background: $bl;
    border-radius: 24px;
    font-size: 14px;
    font-weight: normal;
    color: $wh;
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: -1%;
    margin-left: 48%;
    padding-left: 1.2%;
    
}

@mixin frm {
    display: flex;
    width: 255px;
    height: 35px;
    outline:none;
    font-size: 16px;
    border: 1px solid $bl;
    margin-left: 2%;
    color: $gr;
}


